<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SmartEnglish</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.songhuiming.inputmethod.SmartEnglish</string>
	<key>CFBundleName</key>
	<string>SmartEnglish</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.songhuiming.inputmethod.SmartEnglish</key>
			<dict>
				<key>tsInputModeLocalizedNamesKey</key>
				<dict>
					<key>en</key>
					<string>SmartEnglish</string>
					<key>zh-Hans</key>
					<string>SmartEnglish</string>
				</dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>SE</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.songhuiming.inputmethod.SmartEnglish</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>main.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string></string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>0</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>main.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>main.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.songhuiming.inputmethod.SmartEnglish</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.songhuiming.inputmethod.SmartEnglish_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>SmartEnglishInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.songhuiming.inputmethod.SmartEnglish</string>
	<key>TISIntendedLanguage</key>
	<string>en</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>main.tiff</string>
</dict>
</plist>
